In [4]:
import pandas as pd
import numpy as np
import re

In [6]:
data = pd.read_csv("persons.csv")
print(data)

  first name                                   email  date_of_birth  \
0      Leila                       leila@example.com     23/01/1990
1     Samuel                  samuel_329@example.com     20/09/2001
2     Rodney                choupipoune@supermail.eu  12 sept. 1984
3       Marc  marco23@example.com, mc23@supermail.eu     10/02/1978
4      Harry                 helloworld@supermail.eu     04/25/1975
5      Hanna                 hannah2019@supermail.eu     01/01/1970
6     samuël                  samuel_329@example.com            NaN

      country height
0      France  1.49m
1         NaN  1.67m
2  Madagascar  153cm
3          24  1.65m
4     Germany  1.34m
5      Canada  3.45m
6       Benin  1.45m

In [10]:
def lower_case(value): 
    print('Here is the first value : ', value)
    return value.lower()
data['first_name_min'] = data['first name'].apply(lower_case)

Here is the first value :  Leila
Here is the first value :  Samuel
Here is the first value :  Rodney
Here is the first value :  Marc
Here is the first value :  Harry
Here is the first value :  Hanna
Here is the first value :  samuël

In [12]:
del data['first_name_min']

In [14]:
VALID_COUNTRIES = ['France', 'Madagascar', 'Benin', 'Germany'
                  , 'Canada']

In [16]:
def check_country(country):
    if country not in VALID_COUNTRIES:
        print(' - "{}" is not a valid country, we delete it.' \
            .format(country))
        return np.NaN
    return country

In [18]:
def first(string):
    parts = string.split(',')
    first_part = parts[0]
    if len(parts) >= 2:
        print(' - There are several parts in "{}", we are only keeping {}.'\
            .format(parts,first_part))  
    return first_part

In [22]:
def convert_height(height):
    found = re.search(r'\d\.\d{2}m', height)
    if found is None:
        print('{} is not in the right format. It will be ignored.'.format(height))
        return np.NaN
    else:
        value = height[:-1] # the last character is removed: 'm'
        return float(value)

def fill_height(height, replacement):
    if pd.isnull(height):
        print('Imputation by the mean : {}'.format(replacement))
        return replacement
    return height

In [26]:
data['email'] = data['email'].apply(first)
data['country'] = data['country'].apply(check_country)

 - "nan" is not a valid country, we delete it.
 - "nan" is not a valid country, we delete it.

In [30]:
data['date_of_birth'] = pd.to_datetime(data['date_of_birth'], 
                                           format='%d/%m/%Y', errors='coerce')

In [32]:
data['height'] = [convert_height(t) for t in data['height']]
data['height'] = [t if t<3 else np.NaN for t in data['height']]
mean_height = data['height'].mean()

153cm is not in the right format. It will be ignored.

In [34]:
data

  first name                     email date_of_birth     country  height
0      Leila         leila@example.com    1990-01-23      France    1.49
1     Samuel    samuel_329@example.com    2001-09-20         NaN    1.67
2     Rodney  choupipoune@supermail.eu           NaT  Madagascar     NaN
3       Marc       marco23@example.com    1978-02-10         NaN    1.65
4      Harry   helloworld@supermail.eu           NaT     Germany    1.34
5      Hanna   hannah2019@supermail.eu    1970-01-01      Canada     NaN
6     samuël    samuel_329@example.com           NaT       Benin    1.45

In [36]:
data["name_column"] = new_column

NameError: name 'new_column' is not defined

In [38]:
import pandas as pd # the Pandas Libraries is imported and aliased 'pd'.

def lower_case(value): 
    print('Here is the value I am processing : ', value)
    return value.lower()

data = pd.DataFrame([['A',1],
                     ['B',2],
                     ['C',3]], columns = ['letter','position'])

new_column = data['letter'].apply(lower_case)
new_column = new_column.values
print(new_column)
data['letter'] = new_column
print(data)

Here is the value I am processing :  A
Here is the value I am processing :  B
Here is the value I am processing :  C
['a' 'b' 'c']
  letter  position
0      a         1
1      b         2
2      c         3

In [42]:
# importation of libraries we will need
import pandas as pd
import numpy as np
import re

# loading and display of data
data = pd.read_csv('persons.csv')
print(data)

  first name                                   email  date_of_birth  \
0      Leila                       leila@example.com     23/01/1990
1     Samuel                  samuel_329@example.com     20/09/2001
2     Rodney                choupipoune@supermail.eu  12 sept. 1984
3       Marc  marco23@example.com, mc23@supermail.eu     10/02/1978
4      Harry                 helloworld@supermail.eu     04/25/1975
5      Hanna                 hannah2019@supermail.eu     01/01/1970
6     samuël                  samuel_329@example.com            NaN

      country height
0      France  1.49m
1         NaN  1.67m
2  Madagascar  153cm
3          24  1.65m
4     Germany  1.34m
5      Canada  3.45m
6       Benin  1.45m

In [44]:
VALID_COUNTRIES = ['France', 'Madagascar', 'Benin', 'Germany'
                  , 'Canada']
                  
def check_country(country):
    if country not in VALID_COUNTRIES:
        print(' - "{}" is not a valid country, we delete it.' \
            .format(country))
        return np.NaN
    return country

In [46]:
def first(string):
    parts = string.split(',')
    first_part = parts[0]
    if len(parts) >= 2:
        print(' - There are several parts in "{}", we are only keeping {}.'\
            .format(parts,first_part))  
    return first_part

In [50]:
def convert_height(height):
    found = re.search(r'\d\.\d{2}m', height)
    if found is None:
        print('{} is not in the right format. It will be ignored.'.format(height))
        return np.NaN
    else:
        value = height[:-1] # the last character is removed: 'm'
        return float(value)

def fill_height(height, replacement):
    if pd.isnull(height):
        print('Imputation by the mean : {}'.format(replacement))
        return replacement
    return height

In [52]:
data['email'] = data['email'].apply(first)
data['country'] = data['country'].apply(check_country)
data['height'] = [convert_height(t) for t in data['height']]
data['height'] = [t if t<3 else np.NaN for t in data['height']]

mean_height = data['height'].mean()
data['height'] = [fill_height(t, mean_height) for t in data['height']]
data['date_of_birth'] = pd.to_datetime(data['date_of_birth'], 
                                           format='%d/%m/%Y', errors='coerce')
print(data)

 - There are several parts in "['marco23@example.com', ' mc23@supermail.eu']", we are only keeping marco23@example.com.
 - "nan" is not a valid country, we delete it.
 - "24" is not a valid country, we delete it.
153cm is not in the right format. It will be ignored.
Imputation by the mean : 1.52
Imputation by the mean : 1.52
  first name                     email date_of_birth     country  height
0      Leila         leila@example.com    1990-01-23      France    1.49
1     Samuel    samuel_329@example.com    2001-09-20         NaN    1.67
2     Rodney  choupipoune@supermail.eu           NaT  Madagascar    1.52
3       Marc       marco23@example.com    1978-02-10         NaN    1.65
4      Harry   helloworld@supermail.eu           NaT     Germany    1.34
5      Hanna   hannah2019@supermail.eu    1970-01-01      Canada    1.52
6     samuël    samuel_329@example.com           NaT       Benin    1.45

In [54]:
data = pd.read_csv('persons.csv')

new_column = []
for t in data['height']:
    new_column.append(convert_height(t))
data['height'] = new_column

153cm is not in the right format. It will be ignored.

In [56]:
data = pd.read_csv('persons.csv')

data['height'] = data['height'].apply(convert_height)

153cm is not in the right format. It will be ignored.

In [60]:
def convert_height(height):
    found = re.search(r'\d\.\d{2}m', height)
    if found is None:
        print('{} is not in the right format. It will be ignored.'.format(height))
        return np.NaN
    else:
        value = height[:-1] # the last character is removed: 'm'
        return float(value)